/web/bundles/*
/web/media/*
/web/css/*
/web/js/*
/app/archive/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/import/*
/app/export/*
/app/emails/*
/build/
/vendor/
/bin/
/composer.phar
/nbproject/private/
