web/bundles/*
web/media/*
web/css/*
web/js/*
app/archive/*
app/cache/*
app/config/parameters.yml
app/config/*_local.yml
app/logs/*
app/import/*
app/export/*
app/emails/*
app/uploads/*
app/uploads/product/*
app/file_storage/*
app/bootstrap.php.cache
build/
vendor
!bin
bin/*
!bin/docker/pim-dependencies.sh
!bin/docker/pim-front.sh
!bin/docker/pim-initialize.sh
!docker
docker/*
!docker/akeneo.conf
composer.phar
composer.lock
docker-compose.yml
