version: '2'

services:
  akeneo:
    image: akeneo/apache-php:php-5.6
    environment:
      COMPOSER_HOME: '/home/docker/.composer'
      PHP_IDE_CONFIG: 'serverName=pim-ce'
      PHP_XDEBUG_ENABLED: 0
      PHP_XDEBUG_IDE_KEY: 'XDEBUG_IDE_KEY'
      XDEBUG_CONFIG: 'remote_host=xxx.xxx.xxx.xxx'
    ports:
      - '8080:80'
    user: docker
    volumes:
      - ./:/srv/pim
      - ./docker/akeneo.conf:/etc/apache2/sites-available/000-default.conf:ro
      - ~/.config/composer:/home/docker/.composer
    working_dir: /srv/pim
    networks:
      - akeneo

  mysql:
    image: mysql:5.5
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: akeneo_pim
      MYSQL_PASSWORD: akeneo_pim
      MYSQL_DATABASE: akeneo_pim
    ports:
      - '33006:3306'
    networks:
      - akeneo

  mongodb:
    image: mongo:2.4
    ports:
      - '27117:27017'
    networks:
      - akeneo

networks:
  akeneo: ~
