version: '2'

services:
  fpm:
    image: akeneo/fpm:php-7.1
    environment:
      COMPOSER_HOME: '/home/docker/.composer'
      PHP_IDE_CONFIG: 'serverName=pim-ce-cli'
      PHP_XDEBUG_ENABLED: 0
      PHP_XDEBUG_IDE_KEY: 'XDEBUG_IDE_KEY'
      XDEBUG_CONFIG: 'remote_host=xxx.xxx.xxx.xxx'
    user: docker
    volumes:
      - ./:/srv/pim
      - ~/.composer:/home/docker/.composer
    working_dir: /srv/pim
    networks:
      - akeneo

  node:
    image: node:8
    environment:
      YARN_CACHE_FOLDER: '/home/node/.yarn-cache'
    user: node
    volumes:
      - ./:/srv/pim
      - ~/.cache/yarn:/home/node/.yarn-cache
    working_dir: /srv/pim
    networks:
      - akeneo

  httpd:
    image: httpd:2.4
    depends_on:
      - fpm
    environment:
      PHP_IDE_CONFIG: 'serverName=pim-ce'
    ports:
      - '8080:80'
    volumes:
      - ./:/srv/pim:ro
      - ./docker/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
      - ./docker/akeneo.conf:/usr/local/apache2/conf/vhost.conf:ro
    networks:
      - akeneo

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: akeneo_pim
      MYSQL_PASSWORD: akeneo_pim
      MYSQL_DATABASE: akeneo_pim
    ports:
      - '33006:3306'
    networks:
      - akeneo

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.5.3
    environment:
      ES_JAVA_OPTS: '-Xms512m -Xmx512m'
    ports:
      - '9210:9200'
    networks:
      - akeneo

networks:
  akeneo: ~
