{
  "name": "your-project-name",
  "version": "1.0.0",
  "description": "your-project-description",
  "dependencies": {},
  "scripts": {
        "install": "npm install vendor/akeneo/pim-community-dev",
        "webpack": "webpack --display-error-details --config vendor/akeneo/pim-community-dev/webpack.config.js --progress --display-modules",
        "webpack-watch": "webpack --progress --config vendor/akeneo/pim-community-dev/webpack.config.js --watch"
  }
}
