version: 2
jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Change owner on project dir (default user = circleci (1001) and docker needs uid 1000)
          command: sudo chown -R 1000:1000 ../project
      - run:
          name: Install PHP dependencies
          command: docker run -u www-data -u www-data -v $(pwd):/srv/pim -w /srv/pim --rm akeneo/pim-php-dev:4.0 php -d memory_limit=4G /usr/local/bin/composer --prefer-dist install
      - run:
          name: Create mandatory yarn directories
          command: mkdir -p ~/.cache/yarn && sudo chown -R 1000:1000 ~/.cache/yarn
      - run:
          name: Launch the PIM in dev mode
          command: make
      - run:
          name: Test login page HTTP status
          command: curl -f http://localhost:8080/
      - run:
          name: Shutdown dev mode
          command: make down
      - run:
          name: Launch the PIM in prod mode
          command: make prod
      - run:
          name: Test login page HTTP status
          command: curl -f http://localhost:8080/

workflows:
    version: 2

    pull_request:
        jobs:
            - build

    nightly:
        triggers:
            - schedule:
                cron: 0 5 * * *
                filters:
                  branches:
                    only:
                      - "4.0"
        jobs:
          - build
